
.vs/EmptyRecycleBin/FileContentIndex/4270d63f-43f2-45b8-9ef1-99ffd7a3732a.vsidx
*.v2
*.vsidx
.vs/EmptyRecycleBin/v17/.suo
*.1
*.dll
*.exe
bin/Debug/net6.0-windows/EmptyRecycleBin.deps.json
*.lock
bin/Debug/net6.0-windows/EmptyRecycleBin.runtimeconfig.json
*.cache
obj/Debug/net6.0-windows/EmptyRecycleBin.designer.deps.json
obj/Debug/net6.0-windows/EmptyRecycleBin.AssemblyInfo.cs
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/project.assets.json
*.targets
*.props
obj/Debug/net6.0-windows/EmptyRecycleBin.MAIN.resources
obj/Debug/net6.0-windows/EmptyRecycleBin.GlobalUsings.g.cs
obj/Debug/net6.0-windows/EmptyRecycleBin.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/EmptyRecycleBin.designer.runtimeconfig.json
obj/EmptyRecycleBin.csproj.nuget.dgspec.json
obj/Debug/net6.0-windows/EmptyRecycleBin.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/EmptyRecycleBin.Properties.Resources.resources
